.app {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 4rem;
  /* border: 3px solid black; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  row-gap: 1rem;
  place-items: center;
  align-content: flex-start;
  min-height: 100vh;
  transition: all 0.5s linear;
  background-color: #d5d6d7;
}
.active {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: all 0.5s linear;
  padding-top: 4rem;
  /* border: 3px solid black; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  row-gap: 1rem;
  place-items: center;
  align-content: flex-start;
  min-height: 100vh;
  background-color: #929292;
}
.errors {
  color: black;
  animation-name: errorAnimation;
  animation-duration: 0.5s;
  font-size: 1.4rem;
}
.changeThemeBtn {
  position: absolute;
  top: 2%;
  right: 2%;
}
.showBtn {
  position: absolute;
  top: 2%;
  left: 2%;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 1rem;
  /* border: 3px solid black; */
}
.buttons > * {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  width: 10rem;
}
.counter {
  font-size: 1.3rem;
}
@keyframes errorAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
